  body{
        background-color: rgb(0, 0, 0);
        color: #ff0000;
    }

    li{
   font-size: 18px;
   color:rgb(255, 5, 5);
    }
    
#html{
color:rgb(255, 145, 0);
}

#css{
color:blue;
}

#javascript{
    color:yellow;
}

button{
    background-color: rgb(114, 0, 44);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

span{
font-size: 20x;
color: blueviolet;
}

div{
    display: flex;
    flex-direction: column;
}